In [ ]:
# Data from Kaggle.com
# https://www.kaggle.com/c/nlp-getting-started/data
# inspired by https://towardsdatascience.com/sentiment-analysis-of-a-tweet-with-naive-bayes-ff9bdb2949c7
# https://stackabuse.com/removing-stop-words-from-strings-in-python/

In [13]:
import pandas as pd
import numpy as np

In [31]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [32]:
#Understanding Data Structure
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [33]:
test.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [34]:
# Check to see if there is any columns with all NaN values
train.isnull().all(axis=0)

id          False
keyword     False
location    False
text        False
target      False
dtype: bool

In [35]:
# Check to see if there is any columns with all NaN values
test.isnull().all(axis=0)

id          False
keyword     False
location    False
text        False
dtype: bool

In [36]:
# preprocessing tweets
train["text"] = train["text"].str.lower()
test["text"] = test["text"].str.lower()

In [37]:
# Remove special Characters
import re

def remove_special(text_str):
    new_text = re.sub(r'[^A-Za-z0-9]', ' ', text_str)

    return new_text

train["text"] = train["text"].apply(remove_special)
test["text"] = test["text"].apply(remove_special)

In [38]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,our deeds are the reason of this earthquake m...,1
1,4,NaN,NaN,forest fire near la ronge sask canada,1
2,5,NaN,NaN,all residents asked to shelter in place are ...,1
3,6,NaN,NaN,13 000 people receive wildfires evacuation or...,1
4,7,NaN,NaN,just got sent this photo from ruby alaska as ...,1

In [ ]:
test.head()

In [ ]:
# Remove stopwords
from gensim.parsing.preprocessing import remove_stopwords